<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>
<% setup %>

<p>Hi,</p>

<p>
You have been allocated a Launch token for the Alces Flight Launch service<%=
branding_header %>.  You can find your token details below.
</p>

<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="token-details-title">Token details</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <dl>
                        <dt>Launch token</dt>
                        <dd><%= @token.name %></dd>
                        <dt>Allocated compute units</dt>
                        <dd><%= @token.credits %></dd>
                        <% unless @tenant.identifier == 'default' %>
                            <dt>Tenant</dt>
                            <dd><%= @tenant.name %></dd>
                        <% end %>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>


<p>
You can use your Launch token by visiting the <a href="<%=
flight_launch_url(@tenant) %>"> Alces Flight Launch service</a><%=
branding_header %>.
</p>

<% note do %>
    <p class="notes">
    You are receiving this email because you have been allocated a Launch token
    for the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>
<p>Thank you for choosing the Alces Flight Launch service.</p>
