<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>
Your Alces Flight HPC cluster <em><%= @cluster.cluster_name %></em> has exceeded its
compute unit consumption limit.  All compute queues for the cluster will be
terminated shortly.
</p>

<p>
The cluster login node will continue running for <%= @grace_period_in_hours %> <%=
'hour'.pluralize(@grace_period_in_hours) %>, allowing you access to save any
work.  After <%= @grace_period_in_hours %> <%=
'hour'.pluralize(@grace_period_in_hours) %>, the cluster will be terminated.
</p>

<p>
During the grace period your cluster will continue to consume your compute
units due to the running login node.  Once you have saved your work, you can
<%= link_to 'terminate the cluster', cluster_terminate_url(@cluster) %>
to prevent any further consumption.
</p>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
