<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>
<% setup %>

<p>
Your Alces Flight account has insufficient compute units remaining to continue
running all of your current clusters.  All compute queues for the clusters
below will be terminated shortly.
</p>

<p>
A grace period will be provided for each cluster during which time the
cluster's login node will continue running allowing you access to save any
work.  After the grace period expires, if you have not added additional
compute units to your account your clusters will be terminated.
</p>

<p>
During their grace period your clusters will continue to consume your compute
units due to the running login node.  Once you have saved your work, you can
terminate the cluster to prevent any further consumption.
</p>

<p>
The clusters affected are:
</p>

<% @clusters.each do |cluster| %>
<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="cluster-details-title">Cluster <%= cluster.cluster_name %></h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <dl>
                        <dt>Cluster name</dt>
                        <dd><%= cluster.cluster_name %></dd>
                        <dt>Grace period expiration</dt>
                        <dd>
                        <%= cluster.grace_period_expires_at.strftime("%FT%T") %>
                        (<%= distance_of_time_in_words(@now, cluster.grace_period_expires_at) %>)
                        </dd>
                        <dt>Terminate cluster</dt>
                        <dd><%= link_to 'Terminate now', terminate_url(cluster) %></dd>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>
<% end %>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
