<%#
  Copyright (C) 2018 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>
Your Alces Flight account has insufficient compute units remaining to continue
running all of your current clusters.  All compute queues for the clusters
below will be terminated shortly.
</p>

<p>
The clusters' login node will continue running for <%= @grace_period_in_hours %> <%=
'hour'.pluralize(@grace_period_in_hours) %>, allowing you access to save any
work.  After <%= @grace_period_in_hours %> <%=
'hour'.pluralize(@grace_period_in_hours) %>, if you have not added additional
compute units to your account your clusters will be terminated.
</p>

<p>
During their grace period your clusters will continue to consume your compute
units due to the running login node.  Once you have saved your work, you can
terminate the cluster to prevent any further consumption.
</p>

<p>
The clusters affected are:
</p>

<ul>
    <% @clusters.each do |cluster| %>
        <li>
            <%= cluster.cluster_name %> &mdash;
            <%= link_to 'terminate', cluster_terminate_url(cluster) %>
        </li>
    <% end %>
</ul>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>The Alces Flight Crew.</p>
