<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>

<p>Welcome on board the Alces Flight Launch service<%= launching_branding_header %>.</p>

<p>
Your <%= @cluster_spec_name %> <code><%= @cluster_name %></code> will begin
launching shortly.
Once you are in flight, the evaluation period for your Alces Flight Compute HPC cluster will be
<%= @runtime %>.  Please remember to save your work as you go as, once the
trial completes, the cluster will be shut down automatically.
</p>

<p>
  You will receive another email shortly letting you know that your Alces
  Flight Compute HPC cluster is available for use.
</p>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces Flight
    Compute HPC cluster with the Alces Flight Launch service.
    </p>
<% end %>

<%= render 'shared/contact_us' %>

<p>See you in the air soon!</p>

<p>The Alces Flight Crew.</p>
