<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>
<% setup %>

<p>Your HPC cluster "<%= @cluster_name %>" has failed to launch.</p>

<% if @show_cloudformation_link %>
<% if @arn_present %>
    <p>
    You should visit your cluster's <a href="<%= @cloudformation_url %>">AWS
        CloudFormation page</a> and terminate it.
    </p>
<% else %>
    <p>
    You should visit the <a href="<%= @cloudformation_url %>">AWS
        CloudFormation console</a> and make sure that the cluster is not
    running.
    </p>
<% end %>
<% end %>

<p>The error message received is below:</p>

<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="error-message-title">Error message</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <pre><%= @stderr %></pre>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>

<p>
Please check your settings and try again.  If the problem continues, please
visit our <a href="http://community.alces-flight.com">Community Support Portal</a>.
</p>

<p>The Alces Flight Crew</p>

<% note do %>
    <p class="notes">
    You have received this email because you have attempted to start a HPC
    cluster with the Alces Flight Launch Service, and the cluster has reported
    an error.
    </p>
<% end %>
