<%#
  Copyright (C) 2017 Stephen F. Norledge and Alces Software Ltd.

  This file is part of Alces Launch.

  All rights reserved, see LICENSE.txt.
%>
<% setup %>

<p>Your Alces Flight Compute HPC cluster<%= launched_branding_header %> is ready for use!</p>

<p>
Your <%= @cluster_spec_name %> <code><%= @cluster_name %></code> has reached
cruising altitude and is available for use.
</p>

<p>
Remember, the flight time for this cluster is <%= @runtime %>. Please
remember to save your work.
</p>

<p>
You can find details about your cluster including how to access it
below.
</p>

<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="cluster-details-title">Cluster details</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <dl>
                        <% cluster_details.each do |cd| %>
                            <dt><%= cd.title %></dt>
                            <dd><%= cd.value %></dd>
                        <% end %>
                    </dl>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>

<% if tutorials_link.present? %>
<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="cluster-flight-tutorials-title">Follow an Alces Flight tutorial</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <p>
                    Your cluster has been configured with an installation of
                    Flight Tutorials.  You can learn about Alces Flight
                    Compute by 
                    <a href="<%= tutorials_link %>">
                        following one of the available tutorials.
                    </a>
                    When prompted for a password enter
                    <code><%= password %></code>.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>
<% end %>

<blockquote>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td width="<%= td_width(1) %>">
                    <h4 class="cluster-access-title">Accessing your cluster</h4>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="<%= td_width(1) %>">
                    <p>
                    You can access your cluster using the URL provided above or
                    via SSH.  When prompted for a password enter
                    <code><%= password %></code>.
                    </p>
                    <p style="text-align: center">
                    <code><%= @access_details %></code>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</blockquote>

<% note do %>
    <p class="notes">
    You are receiving this email because you have started an Alces
    Flight Compute HPC cluster with the Alces Flight Launch
    service. Your cluster is now ready for use.
    </p>
<% end %>

<%= render 'shared/contact_us' %>
<p>Thank you for choosing the Alces Flight Launch service.</p>
