<html>
    <head>
        <title>Flight Launch Token Generator</title>
        <script type="text/javascript">
<%
    def load_list(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.txt")
        File.read(abs_path).split("\n").to_json
    end

    def load_combinations(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.txt")
        contents = File.read(abs_path)
        contents.split("\n").map{|line| line.split(' ')}
    end

    def load_javascript(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.js")
        File.read(abs_path)
    end
%>

//
// Populate lists and combinations for absurd token generation.

var lists = {
    adjective: <%= load_list('adjectives') %>,
    adverb: <%= load_list('adverbs') %>,
    verb: <%= load_list('verbs') %>,
    animal: <%= load_list('animals') %>,
    thing: <%= load_list('things') %>,
};
var combinations = <%= load_combinations('combinations') %>;

</script>
    </head>
    <body>
        <div id="generator">
            <h1>
                Flight Launch token generator for tenant
                <em><span id="headerTenantIdentifier"></span></em> -
                <em><span id="headerTenantName"></span></em>
            </h1>
            <div style="margin-bottom: 1em">
                <div id="hasCreditLimitInfo">
                    <strong>Remaining credits: </strong><span id="remainingCredits"></span>
                </div>
                <div id="hasNoCreditLimitInfo">
                    This tenant does not have a credit limit.
                </div>
            </div>
            <div style="margin-bottom: 1em">
                Generate
                <label><input type="radio" name="tokenType" value="absurd" checked> absurd</label>
                <label><input type="radio" name="tokenType" value="meaningless"> meaningless</label>
                tokens.
            </div>
            <div style="margin-bottom: 1em">
                Tokens can launch 
                <label>
                    <input type="radio" name="tokenRestriction" value="unrestricted" onChange="toggleClusterRestriction()" checked >
                    any
                </label>
                    <label>
                        <input type="radio" name="tokenRestriction" value="restricted" onChange="toggleClusterRestriction()" >
                        only some
                    </label>
                        cluster(s)
                        <div style="margin-left: 1em" id="clustersList"></div>
            </div>
            <div style="margin-bottom: 1em">
                Create
                <input id="numTokens" type="number" min="1" value="1" style="width: 4em" />
                new
                token(s)
                <div style="margin-left: 2em">
                    <span style="width: 5em; display: inline-block">for event</span>
                    <input id="tokenTag" value="" />
                </div>
                <div style="margin-left: 2em">
                    <span style="width: 5em; display: inline-block">assigned to</span>
                    <input id="tokenAssignedTo" value="" style="width: 20em" />
                    <span style="color: #737373">
                        If you provide an email address, we will email the
                        generated token to the given address.
                    </span>
                </div>
                <div id="creditAllocation" style="margin-left: 2em">
                    <span style="width: 5em; display: inline-block">allocating</span>
                    <input id="allocatedCredits" type="number" min="1" style="width: 4em" />
                    credit(s) to each
                </div>
                <div style="margin-top: 5px">
                    <input id="createToken" type="button" value="Go!" onclick="createTokens();" />
                </div>
                <span style="width: 3em; display: inline-block"></span>
            </div>

            <div style="margin-bottom: 1em"></div>
            <div id="infoMessages"></div>
            <div style="margin-bottom: 1em"></div>
            <pre id="errorMessages" style="color: red"></pre>
            <div style="margin-bottom: 1em"></div>

            <h4>Available tokens</h4>
            <div style="margin-bottom: 1em">
                <input type="button" value="Get available tokens" onclick="fetchAvailableTokens();" />
                <input type="button" value="Copy to clipboard" onclick="copyToClipboard('availableTokenTable');" />
                <input type="button" value="Clear table" onclick="clearTable('availableTokenTableBody');" />
            </div>
            <table id="availableTokenTable">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Permitted clusters</th>
                        <th>Event</th>
                        <th>Credits</th>
                        <th>Assigned to</th>
                    </tr>
                </thead>
                <tbody id="availableTokenTableBody">
                </tbody>
            </table>

            <h4>Used tokens</h4>
            <div style="margin-bottom: 1em">
                <input type="button" value="Get used tokens" onclick="fetchUsedTokens();" />
                <input type="button" value="Copy to clipboard" onclick="copyToClipboard('usedTokenTable');" />
                <input type="button" value="Clear table" onclick="clearTable('usedTokenTableBody');" />
            </div>
            <table id="usedTokenTable">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Used by</th>
                        <th>Used on</th>
                        <th>Current status</th>
                    </tr>
                </thead>
                <tbody id="usedTokenTableBody">
                </tbody>
            </table>
        </div>

        <script>
            <%= load_javascript('flight-launch-token-generator') %>
        </script>
    </body>
</html>
