<html>
    <head>
        <title>Flight Launch Token Generator</title>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.36.0.min.js"></script>
        <script type="text/javascript">
<%
    def load_list(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.txt")
        File.read(abs_path).split("\n").to_json
    end

    def load_combinations(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.txt")
        contents = File.read(abs_path)
        contents.split("\n").map{|line| line.split(' ')}
    end

    def load_javascript(path)
        abs_path = File.join(File.dirname(__FILE__), "#{path}.js")
        File.read(abs_path)
    end
%>

//
// Populate lists and combinations for absurd token generation.

var lists = {
    adjective: <%= load_list('adjectives') %>,
    adverb: <%= load_list('adverbs') %>,
    verb: <%= load_list('verbs') %>,
    animal: <%= load_list('animals') %>,
    thing: <%= load_list('things') %>,
};
var combinations = <%= load_combinations('combinations') %>;

</script>
    </head>
    <body>
        <div id="credentials" style="margin-bottom: 1em">
            <div style="margin-bottom: 1em">
                <input id="awsAccessKeyId" placeholder="Enter your AWS access key ID" style="width: 20em" />
            </div>
            <div style="margin-bottom: 1em">
                <input id="awsSecrectAccessKey" placeholder="Enter your AWS secret access key" style="width: 20em" />
            </div>
            <div style="margin-bottom: 1em">
                <input id="submitCredentials" type="button" value="Submit" onclick="updateAWSConfig()" />
            </div>
        </div>
        <div id="generator" style="display: none;">
            <h1>
                Flight Launch token generator for tenant
                <em><span id="headerTenantIdentifier"></span></em> -
                <em><span id="headerTenantName"></span></em>
            </h1>
            <div style="margin-bottom: 1em">
                Generate
                <label><input type="radio" name="tokenType" value="absurd" checked> absurd</label>
                <label><input type="radio" name="tokenType" value="meaningless"> meaningless</label>
                tokens.
            </div>
            <div style="margin-bottom: 1em">
                Tokens can launch 
                <label>
                    <input type="radio" name="tokenRestriction" value="unrestricted" onChange="toggleClusterRestriction()" checked >
                    any
                </label>
                    <label>
                        <input type="radio" name="tokenRestriction" value="restricted" onChange="toggleClusterRestriction()" >
                        only some
                    </label>
                        cluster(s)
                        <div style="margin-left: 1em" id="clustersList"></div>
            </div>
            <div style="margin-bottom: 1em">
                Create
                <input id="numTokens" type="number" value="1" />
                new
                token(s)
                for event
                <input id="tokenTag" value="" />
                <input id="createToken" type="button" value="Go!" onclick="createTokens();" />
                <span style="width: 3em; display: inline-block"></span>
            </div>

            <div style="margin-bottom: 1em"></div>
            <div id="infoMessages"></div>
            <div style="margin-bottom: 1em"></div>
            <pre id="errorMessages" style="color: red"></pre>
            <div style="margin-bottom: 1em"></div>

            <h4>Tokens</h4>
            <div style="margin-bottom: 1em">
                <input id="scanData" type="button" value="Get available tokens" onclick="scanData();" />
                <input id="copyToClipboard" type="button" value="Copy to clipboard" onclick="copyToClipboard();" />
                <input type="button" value="Clear table" onclick="clearTable();" />
            </div>
            <table id="tokenTable">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Permitted clusters</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody id="tokenTableBody">
                </tbody>
            </table>
        </div>

        <script>
            <%= load_javascript('flight-launch-token-generator') %>
        </script>
    </body>
</html>
